* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

header {
  height: calc(100vh);
  /* background-color: orange; */
  background-image: url("../img/jumbotron.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom -110px right 0;
}

.container {
  width: 1200px;
  height: 100%;
  border: 1px solid black;
  margin: auto;
}

.contact {
  border-left: 1px solid black;
  padding-left: 20px;
  margin-left: 10px;
}

.clearfix {
  content:"";
  display: table;
  clear: both;

}

.fl {
  float: left;
}

.fr {
  float: right;
}

ul.size {
  font-size: 16px;
}

li {
  display: inline-block;
  padding: 0 5px;
}

.appearance {
 -webkit-appearance: none;
 -moz-appearance: none;
 text-indent: 1px;
 text-overflow: "";
}

.stripe {
  margin: auto;
  background-color: red;
  height: 55px;
  /* border: 1px solid black; */
}

.stripe:first-child {
  background-color: rgb(244,249,253);
}

.line-h{
  line-height: 55px;
}

select {
  border: 0;
  /* border-right: 1px solid black; */
  background-color: inherit;
}

.stripe:last-child {
  background-color: rgb(175,235,228);
}
