* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


header {
  height: 100vh;
  /* background-color: orange; */
  background-image: url("../img/jumbotron.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom -110px right 0;
}

.container {
  width: 1200px;
  height: 100%;
  border: 1px solid black;
  margin: auto;
}
