* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


header {
  height: 400px;
  background-color: orange;
}

.container {
  width: 1200px;
  height: 100%;
  border: 1px solid black;
  margin: auto;
}
