.clearfix {
  content:"";
  display: table;
  clear: both;
}

.fl {
  float: left;
}

.num {
  font-size: 40px;
}

.plus::after {
  content: "+";
  font-size: 20px;
  line-height: 46px;
  /* color: red; */
}
